.sidebar-container {
  position: relative;
  
  .sidebar {
    .sidebar-header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      padding: 0 16px;
      margin-top: 20px;

      .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .logo-image {
          max-width: 235px;
          height: 36px;
        }

        .logo-small {
          max-width: 71px;
          height: 56px;
        }
      }
    }

    .sidebar-list {
      padding: 8px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .sidebar-item {
      color: var(--full-branco-ffffff);
      font-size: 16px;
      line-height: 22px;
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      .menu-button {
        transition: all 1s ease-in;
      }

      .expand-icon {
        margin-left: 4px;
      }

      &.active {
        background-color: var(--color-cyan);
        border-radius: 4px; // Bordas arredondadas para o item ativo

        .menu-button {
          color: var(--verde-black-menu-lateral-021b1a);
          font-weight: bold;
        }
      }

      &.nested {
        &.active {
          .menu-button {
            background-color: var(--color-cyan);
            transition: 0.4s;
          }
        }
      }

      &:hover:not(.active) {
        .menu-button {
          background-color: var(--00606d-hover);
          transition: 0.4;
        }
      }
    }

    .submenu-list {
      padding: 0;
      width: 100%;
    }

    .sidebar-footer {
      margin-top: auto;
      padding: 32px;

      .footer-text {
        display: flex ;
        flex-direction: column;
        font-size: 12px;
        color: var(--cinza-6f7d7d);

        .name {
          font-size: large;
          color: white;
          font-weight: bold;
        }

        .version {
          margin-top: 4px;
          font-size: 12px;
          color: var(--pastel-aacbc4);
        }
      }
    }
  }

  .toggle-button {
    background-color: rgb(251, 250, 250);
    border-radius: 50%;
  }

  :hover.toggle-button{
    color: white;
    background-color:var(--color-cyan);
    transition: 0.5s;
  }
}
